<%= javascript_include_tag 'index_page' %>
<h1><a href="#">CloudEdit tutorial</a></h1>
<h2>Backbone.js Rails example by Alexander</h2>
<div id="notice"></div>
<div id="app"></div>

<script type="text/javascript">
  $(function(){
    App.init();
  });
</script>

<script id="edit" type='text/template'>
  <%= render "../templates/documents/edit.mustache" %>
</script>

<script id="index" type='text/template'>
  <%= render "../templates/documents/index.mustache" %>
</script>
