<%= javascript_include_tag 'index_page' %>
<h1><a href="#">CloudEdit tutorial</a></h1>
<h2>Backbone.js Rails example by Alexander</h2>
<div id="notice"></div>
<div id="app"></div>

<script type="text/javascript">
  $(function(){
    App.init();
  });
</script>

<% ['edit', 'index'].each do |template| %>
  <script id="<%= template %>" type='text/template'>
    <%= render "../templates/documents/#{template}.mustache" %>
  </script>
<% end %>
