<h1><a href="#">CloudEdit tutorial</a></h1>
<h2>Backbone.js Rails example by Alexander</h2>
<div id="notice"></div>
<div id="app"></div>

<script type="text/javascript">
  $(function(){
    App.init();
  });
</script>

<script id="edit" type='text/template'>
  <%= render "../templates/documents/edit.mustache" %>
</script>

<script id="index" type='text/template'>
  <%= render "../templates/documents/index.mustache" %>
</script>

<% ['index_item'].each do |partial| %>
  <script id="<%= partial %>" class='partial' type='text/template'>
    <%= render "../templates/documents/#{partial}.mustache" %>
  </script>
<% end %>