<form>
<label for='title'>Title</label>
<input name='title' type='text' value='{{title}}'/>
<br/>
<label for='body'>Body</label>
<textarea name='body' type='text'>{{body}}</textarea>
<br/>
<button>{{submit_text}}</button>